.colorstrip{
        border-top: 30px solid #8AB0E5;
    }
body {
    font-family: "comfortaa";
    src: url(https://www.dafont.com/comfortaa.font) format("truetype");
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;

}
/*Global*/
.containerA{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 80%;
}
.containerA img{
    border-radius: 7px;
}
.container1{
    width: 64%;
    margin: auto;
}
header{
     border-top: 5px  #8AB0E5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: px;

}
nav a{
    color: #8AB0E5;
    font-size: 20px;
    cursor:pointer;
}
nav li{
    display: flex;
    justify-content: center;
    display:inline;
    padding: 0 25px 0 25px;
}
nav a:hover{
    color: #cccccc;
    text-decoration: none;
}
.center{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;

}
.center img{
    padding: 40px;
}
h2, h4 {
    color: #8AB0E5;
}
h2{
    margin: auto;
    display: flex;
    justify-content: center;
}
#logopanel{
    display:flex;
    justify-content: center;
    background-color: #8AB0E5;
    border-radius: 7px;
    height: 90px;
    width: 924px;
    margin:auto;
}
#logopanel ul{
    margin: 0;
    padding:0;
}
#logopanel li{
    float: left;
    display: inline;
    padding: 5px 35px 5px 35px;

}
section{
    padding:5px;
}
.links{
    float:right;
}
.links a{
    text-decoration: none;
    color: #ff7373;
}
.links a:hover{
    color: #cccccc;
}
footer{
    margin:auto;
    height: 50px;
    width: 85%;
    padding-top: 100px;
}
footer nav{
    display: flex;
    justify-content: center;
}

footer img{
    float:left;
    padding: inherit;
}
footer ul{
    float: right;
}
